*{
    margin: 0;
    padding: 0;
}
/*INICIO MENÚ INICIO*/
.menuIndex{
    position: fixed;
    background-color: #E7C5B1;
    width: 100%;
    display: flex;
    z-index: 2;
}
.menuAimg img{
    width: 180px;
    margin-top: 10px;
}
.menuHorizontal {
    list-style: none;  /* Elimina los puntos de la lista */
    display: flex;
}
.menuHorizontal li {      
    margin: 0 15px;  /* Espaciado entre elementos de la lista */
}

.divmenuinicio {
    width: 100%;
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 40%;
}
.divmenuinicio a{
    margin: 25px 10px 0 10px;
    font-size: 20px;
}

.letramenu a{
    text-decoration: none;
}
.iniciocontenedor{
    padding-right: 300px; /*Margen entre las opciones y el inicio de sesión*/
    margin-top: 25px;
}
.iniciocontenedor a {
    font-size: 20px;
}



.videoinicio{
    margin-top: 78px;
    width: 100%;
}

/*FINAL MENÚ INICIO*/

/*INICIO FOOTER*/
.footercontenedor{
    margin: 100px 0 0 0;
    width: 100%;
}
.footergeneral{
    background-color:#9d6e4e;
    height: 180px;
}
.listadofooter{
    list-style: none;
    color: white;
    display: flex;
    padding-left: 50px;
}
.listadofooter li{
    padding: 40px 60px 40px 20px;
}
.listadofooter2 li{
    padding: 2px;
    list-style: none;
}
.listadofooter2 a{
    text-decoration: none;
    color: rgb(255, 229, 189);
}
.listadofooter2 a:hover{
    color: rgb(0, 0, 0);
}
/*.titulillo{
    METER LETRA PARA TÍTULOS
}*/
.imagendelfooter{
    filter: invert(100%);
}
.imagendelfooter img{
    max-width: 100px;
}
.imagendelfooter2 img{
    max-width: 200px;
}
.divimagenpago{
    padding: 40px 180px 0 0;
    align-self: flex-start;
}
/*FIN FOOTER*/
