/*INICIO estilo.css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,224,212,1) 25%, rgba(230,204,178,1) 50%, rgba(221,184,146,1) 75%, rgba(186,156,125,1) 100%);   
}

@font-face {
    font-family: 'Anton';
    src: url('../ARCHIVOS/Anton/Anton.ttf') format('truetype'); /* Reemplaza 'ruta/a/tu/fuente' con la ruta real a tu fuente */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hind';
    src: url('../ARCHIVOS/Anton/Hind.ttf') format('truetype'); /* Reemplaza 'ruta/a/tu/fuente' con la ruta real a tu fuente */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Paytone';
    src: url('../ARCHIVOS/Anton/Paytone.ttf') format('truetype'); /* Reemplaza 'ruta/a/tu/fuente' con la ruta real a tu fuente */
    font-weight: normal;
    font-style: normal;
}
/*FINAL estilo.css*/

/*INICIO BOXES PROMOCIONALES*/
#upp{
    text-transform: uppercase;
    font-family: 'Anton';
    color: black;
}
#upp2{
    text-transform: uppercase;
    font-family: 'Paytone';
    color: black;
}
#upp3{
    text-transform: uppercase;
    font-family: 'Hind';
    color: black;
}
.tituloinsta{
    display: flex;
    justify-content: center;
    margin: 100px 0 50px 0;
    font-size: 250%;
}
.titulobox{
    margin: 0 0 50px 100px;
}
.titulobox a{  /*TEXTO CAMBIAR FUENTE*/
    font-size: 150%;
    text-decoration: none;
    color: black;
}




.divboxinicio{
    display: flex;
    margin: 0 50px 150px 50px;
}

img{
    max-width: 100%;
}
.onebox{
    text-align: center;
    margin-right: 20px;
}
.onebox img{
    border-radius: 80px 0 0 0;
}
.onebox img:hover{
    opacity: 50%;
}
.twobox{
    text-align: center;
    margin: 0 20px;
}
.twobox img:hover{
    opacity: 50%;
}
.threebox{
    text-align: center;
    margin: 0 20px;
}
.threebox img{
    border-radius: 0 0 80px 0;
}
.threebox img:hover{
    opacity: 50%;
}
.onebox a{
    text-decoration: none;
}
.twobox a{
    text-decoration: none;
}
.threebox a{
    text-decoration: none;
}

.fourbox img{
    margin-top: 850%;
}
.fourbox img:hover{
    opacity: 50%;
}

/*FINAL BOXES PROMOCIONALES*/
