/*INICIO PRODUCTO.PHP*/
.producto {
    display: flex;
    border: 1px solid #ccc;
    padding-top: 100px;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
  }
  
  .producto img {
    max-width: 50%;
    height: auto;
    flex: 1; /* Ocupa todo el espacio disponible */
    margin: 5px; /* Añade un espacio entre las imágenes */
  }

  .descripcion {
    justify-content: center;
    flex: 1;
    padding: 10px;
    text-align: left;
  }
  .descripcion h1{
    font-family: Paytone;
  }
  .descripcion p{
    font-family: Paytone;
  }
  .precio{
    font-size: 25px;
    margin-top: 30px;
    font-family: Anton;
  }
  .descripcion h1, .descripcion p, .descripcion span {
    margin-bottom: 10px;
  }
  

  .producto2{
    max-width: 100%;
    height: auto;
    display: flex;
  }
  .producto2 img{
    max-width: 50%;
  }

/*FIN PRODUCTO.PHP*/